extends ../layout

block navbar
  .navbar.navbar-inverse.navbar-fixed-top(role="navigation")
    .container
      .navbar-header
        button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="#") Project name

      .navbar-collapse.collapse
        ul.nav.navbar-nav
          li.active
            a(href="/") aaa
          li
            a(href="/") bbb
          li.divider
          li.dropdown
            a.dropdown-toggle(data-toggle="dropdown" href="#")
              | drop-down
              b.caret
            ul.dropdown-menu
              li
                a(href="/") ccc
              li
                a(href="/") ddd
              li.divider
              li.dropdown-header
              li
                a(href="/") eee

block body
  .jumbotron
    ul.nav.navbar-nav#tag-list
    hr(style="clear: both;")

  .row
    #audio-box
  .row
    .col-xs-2
      ul#dir-list
    .col-xs-5
      ul#audio-list
    .col-xs-5
      ul#video-list

  footer

block bottom
  .img-swipe
    #image-list


